<div class="container">

<h1>Cocktail details</h1>

<%= @cocktail.name %>
<% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %>
<% end %>



<br>
<%= link_to "Back to main menu", cocktails_path, class: "btn btn-primary" %>


</div>
