/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
