@import "home";
@import "new";


.container {
    text-align: center;
    font-family: "Open Sans", "Helvetica", "sans-serif";
  }

.btn {
  margin: 20px;
}

.p {
  font-family: "Open Sans";
}

.form {
  text-align: center;
}

.banner-content {
  margin-top: 100px;
}




