@import "home";
@import "new";


.container {
    font-family: "Open Sans", "Helvetica", "sans-serif";
    background: rgb(240,240,240);
    padding-left: 15px;
    padding-right: 15px;
    width: 1060px;
    margin: 30px auto;
}


.flexbox {
  display: flex;
  justify-content: space-between;
}

.btn {
  margin: 20px;
}

.p {
  font-family: "Open Sans";
}

.form {
  text-align: center;
}

.banner-content {
  margin-top: 100px;
}






