.container {
      margin: 20px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 2px;

}


.body {
 background-color: grey;
}

.row {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


#cocktail_name {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#cocktail_photo {
  margin-left: auto;
  margin-right: auto;
}


